# Application Configuration
PORT=4000

# Authentication
CRYPT_SALT=10
JWT_SECRET_KEY=your-secret-key-here
JWT_SECRET_REFRESH_KEY=your-refresh-secret-key-here
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

# Database Configuration
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=home_library
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/home_library
